@model MVCApplication.Models.User

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee Registration</legend>
        @Html.AntiForgeryToken()
        @if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }
        <div class="editor-label">
            @Html.Label("Employee Status:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeStatus)
            @Html.ValidationMessageFor(model => model.employeeStatus)
        </div>

        <div class="editor-label">
            @Html.Label("Employee ID:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeId)
            @Html.ValidationMessageFor(model => model.employeeId)
        </div>
        <div class="editor-label">
            @Html.Label("SSS Number:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sssnum)
            @Html.ValidationMessageFor(model => model.sssnum)
        </div>

        <div class="editor-label">
            @Html.Label("TIN Number:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tinnum)
            @Html.ValidationMessageFor(model => model.tinnum)
        </div>

        <div class="editor-label">
            @Html.Label("Date Employed:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateEmployed)
            @Html.ValidationMessageFor(model => model.dateEmployed)
        </div>

        <div class="editor-label">
            @Html.Label("From:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateFrom)
            @Html.ValidationMessageFor(model => model.dateFrom)
        </div>

        <div class="editor-label">
            @Html.Label("To:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateTo)
            @Html.ValidationMessageFor(model => model.dateTo)
        </div>

        <div class="editor-label">
            @Html.Label("Signature:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.signature)
            @Html.ValidationMessageFor(model => model.signature)
        </div>
        <br />
        <legend> Log In Information</legend>

        <div class="editor-label">
            @Html.Label("Username:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userName)
            @Html.ValidationMessageFor(model => model.userName)
        </div>

        <div class="editor-label">
            @Html.Label("Email Address:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.Label("Confirm Email:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.Label("Password:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.Label("Confirm Password:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Main Menu", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}